@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Colors */
:root {
    --Pink: hsl(322, 100%, 66%);

    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    /* font-family: 'Poppins'; */
    font-size: 18px;
}

.hero {
    background-image: url('./images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-bottom: -50px; */
}

.navbar {
    padding: 50px;
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;

}

.nav-item {
    background-color: #fff;
    padding: 12px 50px;
    color: #000;
    border: none;
    font-weight: 600;
    outline: none;
    border-radius: 25px;
    box-shadow: -1px 2px 4px 2px rgba(226, 220, 220, 0.8);
    cursor: pointer;
}

.nav-item:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 20px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;

}

.hero-bold {
    font-weight: 700;
    margin: 25px;
    width: 60%;
}

.hero-text {
    width: 75%;
    margin-bottom: 25px;
    color: #808080;
    font-weight: 400;
}

.hero-btn {

    padding: 18px 60px;
    border-radius: 25px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--Pink);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.hero-btn:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hero-img {
    width: 50%;
    height: auto;
}

.main-card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    margin: 30px 150px 30px 150px;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.img-card {
    width: 40%;
    height: auto;
}

.title-card {
    margin-bottom: 25px;
}

.text-card {
    color: #808080;
}

.main-card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    margin: 30px 150px 30px 150px;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

    flex-direction: row-reverse;
}

.main-card3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    margin: 30px 150px 30px 150px;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.container-ready {
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 100px;
    width: 60%;
    margin: auto;
    position: relative;
    top: 150px;
    background-color: #ffffff;
}

.btn-foot {
    cursor: pointer;
    font-weight: 600;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: hsl(322, 100%, 66%);
    color: #ffffff;
    border-radius: 50px;

    padding: 28px 100px 28px 100px;
    transition: all 0.3s ease 0s;
}

.btn-foot:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.title-foot {
    margin-bottom: 50px;
}

.footer {
    color: #fff;
    background-color: hsl(192, 100%, 9%);
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 70px 0px 70px 20px;
    padding-top: 250px;
}

.text-foot1 {
    padding-top: 25px;
}

.text-foot2 {
    padding-top: 25px;

    padding-bottom: 25px;
}

p {
    display: inline-block;
    /* margin: 10px; */
    width: 80%;
}

.copyr {
    margin-top: 80px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: hsl(322, 100%, 66%);
}

/* Social Icons */
.custom-icon {
    font-size: 20px;
    /* background: #fff; */
    color: #ffffff;

    padding: 8px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #ffffff;
    columns: #000000;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}

.custom-icon:hover {
    color: #ffffff;
    background: hsl(322, 100%, 66%);
    border: 2px solid hsl(322, 100%, 66%);
}

.fix-editor {
    display: none;
}

.icon-wrapper {
    display: inline-block;
}

@media (max-width: 375px) {
    .navbar {
        padding: 25px;
    }

    .logo {
        width: 40%;
    }

    .nav-item {
        padding: 8px 25px 8px 25px;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    .hero-bold {
        text-align: center;
        width: 100%;
        font-size: 30px;
    }

    .hero-text {
        text-align: center;
        width: 100%;
        font-size: 17px;
    }

    .hero-btn {
        padding: 10px 60px 10px 60px;
    }

    .hero-img {
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .main-card1 {
        text-align: center;
        flex-direction: column-reverse;
        margin: 30px 8px 30px 8px;
    }

    .main-card2 {
        text-align: center;

        flex-direction: column-reverse;
        margin: 30px 8px 30px 8px;
    }

    .main-card3 {
        text-align: center;

        flex-direction: column-reverse;
        margin: 30px 8px 30px 8px;
    }

    .img-card {
        width: 100%;
        height: auto;
    }

    .title-card {
        margin-bottom: 25px;
    }

    .text-card {
        color: #808080;
    }

    .container-ready {
        text-align: center;
        top: 80px;
        padding: 20px;
        width: 90%;
    }

    .btn-foot {
        font-size: 15px;

        padding: 18px 30px 18px 30px;
    }

    .title-foot {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .footer {

        padding-left: 25px;
        gap: 40px;
        padding-top: 150px;
        flex-direction: column;
    }

    .text-foot1 {
        padding-top: 25px;
    }

    .text-foot2 {
        padding-top: 25px;

        padding-bottom: 25px;
    }

    .copyr {
        padding-bottom: 25px;
        padding-top: 50px;
        margin-top: 0px;
    }

    p {
        /* margin: 10px; */
        width: 80%;
    }

    .copyr {
        margin-top: 0px;
    }
}